.header{
    height:80px;
    width: auto;
    background-color: rgb(215, 218, 250);
    box-shadow: 0 4px 6px #888888;
    justify-content: center;
    display: flex;
    align-items: center;
    color:#e2955b;
}

.mainContainer{
    height:600px;
    width: auto;
    /* background-color: #8e236114; */
    display:grid;
    grid-template: auto auto auto/250px 250px 250px 250px 250px;
    grid-auto-rows: 50px;
    gap:50px;
    padding-top:10px;
}

div {outline:1px solid red;}
/* 6-june-2026 */
.card {background-color: rgba(128, 0, 70, 0.145);}
.addNewBook {
    height:100px;
    width: auto;
    display: flex;
    justify-content: center;
    

}
form {
    display:flex;
    flex-direction: column;
    gap: 5px;

}